.positive {
    color: green;
    &:hover {
        color: lighten(green, 10%);
    }
}

.negative {
    color: red;
    &:hover {
        color: lighten(red, 30%);
    }
}

.neutral {
    color: grey;
    &:hover {
        color: lighten(grey, 20%);
    }
}
.size {
    &0{
        font-size: 1rem;
    }

    &1{
        font-size: 1.75rem;
    }
    &2{
        font-size: 2.25rem;
    }
    &3{
        font-size: 2.75rem;
    }

    &4{
        font-size: 3.25rem;
    }
    &5{
        font-size: 3.75rem;
    }
}
