#word-cloud {
    .word-cloud__topic {
        margin: 10px;
        line-height: 70px;
        vertical-align: middle;

        &:hover, &.focused {
            cursor: pointer;
        }
        &.focused {
            border-bottom: 2px solid;
        }
    }
}
