.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: grey;
}

.size {
    &0{
        font-size: 1rem;
    }

    &1{
        font-size: 2rem;
    }
    &2{
        font-size: 3rem;
    }
    &3{
        font-size: 4rem;
    }

    &4{
        font-size: 5rem;
    }
    &5{
        font-size: 6rem;
    }
}

span {
    margin: 15px;
    line-height: 60px;
}
